
# Project speciffic
personal.cfg

cookies.dat


[Dd]ebug/
build/
[Rr]elease/
Backup*/
BKP*.*


# Others
sql/
*.Cache
~$*
*~
*.dbmdl
*.pfx


#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath





#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


